.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Data science
dataScience/outputData
dataScience/Qgis
dataScience/rawData/**/*
*.qgz
*.gpkg

# webapp
wildfire-risk-intelligence-webapp/node_modules
